@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;    
}


.container{
    height: 100vh;
    display: flex;    
    justify-content: center;    
    align-items: center;
    background: hsl(212, 45%, 89%);    
}

.box{
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 20px;
}

.image{
    width: 200px;
}

.image img{
    border-radius: 10px; 
    width: 100%;    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.content p{
    font-weight: 700;
    text-align: center;
}

.content span{
    font-weight: 400;
    font-size: 10px;
    color: hsl(220, 15%, 55%);
    text-align: center;    
}
